<div class="box">
  <h2 class="box-title">What can you do to achieve this goal?</h2>
  <div class="box-inner">
    <%= form_for (@task) do |g| %>
     <div class="form-group">
       <%= g.text_area :name, class: "form-control", placeholder: "eg.I will walk 20 mins" %>
     </div>
     <div class="form-group">
       <%= g.label "You will perform this task" %>
       <%= g.select :frequency, Task.frequencies.keys%>
     </div>
     <%= hidden_field_tag :goal_id, @goal.id %>
     <%= g.submit "Create", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>